<%- include("partials/header") -%>

<div class="container">

    <form action="/add-girl" method="POST">

        <div class="form-group">
            <label for="">instagram name without @</label>
            <input class="form-control" type="text" name="igName">
    
            
    
        </div>
    
        <button class="btn btn-primary" type="submit" name="button">Publish</button>
    
    
    
    </form>






</div>








<%- include("partials/footer") -%>