<%- include("partials/header") -%>

<div class="container">

    <h1 class="top-header" >Add Cryto Stack</h1>

    <form action="/add-stack" method="POST">

        <div class="form-group">
            <label for="">Crypto development stack name</label>
            <input class="form-control" type="text" name="stackName">
    
            
    
        </div>
    
        <button class="btn btn-primary" type="submit" name="button">Add</button>
    
    
    
    </form>






</div>








<%- include("partials/footer") -%>