<%- include("partials/header") -%>

<div class="container">
    <h1 class="top-header" >No stack was found. :( Please go back, or add a new Stack.</h1>


</div>





<%- include("partials/footer") -%>